*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    flex-direction: column;
}

#gamePlate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}
.square{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items:center;
}
#b4,#b5,#b6,#b7,#b8,#b9{
    border-top:0px;
}
#b1,#b2,#b4,#b5,#b7,#b8{
    border-right: 0px;;
}
button{
    margin-top:20px;
}